* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}



/*tags padrões*/

html{
    background-color: #051124;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    display: inline;

    line-height: 160%;
}

header {
    max-height: fit-content;
    min-width: 100px;
    width: 100%;
    display: inline-flex;
    padding: 4%;
    font-size: 500%;
    line-height: 10%;
    color: white;
    min-height: 120px;
    margin: 20%,20%,20%;
  }

  .musica{
   margin-left: 12%;
  }


  /*detalhes sobre o artista e sua foto*/

.artista {
    height: 20%;
    max-width: 140px;
    margin-left: 3%;
}


.artistaName {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    font-size: xx-large;
    text-underline-offset: 4%;
    text-align: center;
    margin-top: 30px;
}

.artistamusic{
    font-size: small;
    margin-top: 30px;
}

  /*aqui muda as cores das páginas de cada musica baseado no nome do artista*/

  .madonna{
    background-image: linear-gradient(#d6d6d6, #051124);
  }

  .katy {
    background-image: linear-gradient(#ff0000, #051124);
  }
  
  .louis {
    background-image: linear-gradient(#1f9b00, #051124);
  }

  .unlike{
    background-image: linear-gradient(#070606, #051124);
  }

  .Tyler{
    background-image: linear-gradient(#006bf7, #051124);
  }

  .MGMT  {
    background-image: linear-gradient(#7c766c, #051124);
  }


  /*aqui é a area da letra e seu titulo*/

  
  .letra1 {
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
  }

  .letra2 {
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
  }
  

  /**WHITE START**/
  .lingua1{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    margin-right: 20px;
    justify-content: center;
    background-image: linear-gradient(#b8b8b8, #24242400);
    border-radius: 100px;
  }

  .lingua2 {
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    justify-content: center;
    background-image: linear-gradient(#b8b8b8, #24242400);
    border-radius: 100px;
  }
/**WHITE FIM**/

/**RED START**/
  .lingua3{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    margin-right: 20px;
    justify-content: center;
    background-image: linear-gradient(#ff0000, #24242400);
    border-radius: 100px;
  }
  
.lingua4{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    justify-content: center;
    background-image: linear-gradient(#ff0000, #24242400);
    border-radius: 100px;
  }
/**RED FIM**/
  
/**GREEN START**/
.lingua5{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    margin-right: 20px;
    justify-content: center;
    background-image: linear-gradient(#28ca00, #023d0000);
    border-radius: 100px;
  }

  .lingua6{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    justify-content: center;
    background-image: linear-gradient(#28ca00, #023d0000);
    border-radius: 100px;
  }
/**GREEN FIM**/


/**BLUE START**/
    .lingua7{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    margin-right: 20px;
    justify-content: center;
    background-image:linear-gradient(to bottom, #006bf7,#051124);
    border-radius: 100px;
  }

  .lingua8{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    justify-content: center;
    background-image:linear-gradient(to bottom, #006bf7,#051124);
    border-radius: 100px;
  }
/**BLUE FIM**/

/**BLACK START**/
    .lingua9{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    margin-right: 20px;
    justify-content: center;
    background-image:linear-gradient(#070606,#051124);
    border-radius: 100px;
  }

  .lingua10{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    justify-content: center;
    background-image:linear-gradient(#070606,#051124);
    border-radius: 100px;
  }
/**BLACK FIM**/

/**INCOLOR START**/
  .lingua11{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    margin-right: 20px;
    justify-content: center;
    background-image:linear-gradient(#7c766c,#051124);
    border-radius: 100px;
  }

  .lingua12{
    flex: 25%;
    padding: 20px;
    display: inline-flex;
    width: 35%;
    margin-right: 20px;
    justify-content: center;
    background-image:linear-gradient(#7c766c,#051124);
    border-radius: 100px;
  }

/**INCOLOR FIM**/
  


/*apenas o Lirycs*/

pre{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10%;
}

/*css dos botões ⬇️*/

.titulo{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.img1{
    width: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.imag1{
    background-image: url(https://jornaleconomico.pt/wp-content/uploads/2017/09/furac%C3%A3o1.jpg);
}

.img2{
    width: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.imag2{
    background-image: url(https://img.pikbest.com/back_our/bg/20201009/bg/1284794adb05a_410846.jpg!w700wp);
}

.img3{
    width: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    background-image: url();
}

.imag3{
    background-image: url(https://i.pinimg.com/originals/06/15/dd/0615dd717d7971386f2b36c6a67af105.jpg);
}

.img4{
    width: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.imag4{
    background-image: url(https://i0.wp.com/www.riograndesierraclub.org/wp-content/uploads/2015/06/ocean-water-banner-dark.jpg?ssl=1);
}

.img5{
    width: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.imag5{
    background-image: url(https://wallpapersmug.com/download/1920x1080/40f13d/dark-hatred-video-game-art.jpg);
}

.img6{
    width: 50px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.imag6{
    background-image: url(https://cdn.wallpapersafari.com/27/7/CD6IWE.jpg);
}


/********************************************/
.botao1{
    border-radius: 6px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 22px;
    padding: 0px 10px 0px 0px;
    width: 200px;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
}

.botao2{
    border-radius: 6px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    padding: 0px 10px 0px 0px;
    width: 200px;
    cursor: pointer;
    margin: 10px;
}

.botao3{
    border-radius: 6px;
    border: none;
    background-color: green;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 22px;
    padding: 0px 10px 0px 0px;
    width: 200px;
    cursor: pointer;
    margin: 10px;
}

.botao4{
    border-radius: 6px;
    border: none;
    background-color: blue;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 22px;
    padding: 0px 10px 0px 0px;
    width: 200px;
    cursor: pointer;
    margin: 10px;
}

.botao5{
    border-radius: 6px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    padding: 0px 10px 0px 0px;
    width: 200px;
    cursor: pointer;
    margin: 10px;
}

.botao6{
    border-radius: 6px;
    border: none;
    background-color: gray;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 22px;
    padding: 0px 10px 0px 0px;
    width: 200px;
    cursor: pointer;
    margin: 10px;
}
 



/**Botao White**/

.botao1 span{
    position: relative;
    transition: 0.50s;
}

.botao1 span:after {
    content: "→";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.8s;
}

.botao1:hover span {
    padding-right: 33px;
}
    
.botao1:hover span:after {
    opacity: 1;
    right: 2;
}
/**FIM BRANCO**/



/**Botao Red**/

.botao2 span{
    position: relative;
    transition: 0.50s;
}

.botao2 span:after {
    content: "→";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.8s;
}

.botao2:hover span {
    padding-right: 33px;
}
    
.botao2:hover span:after {
    opacity: 1;
    right: 2;
}
/**FIM RED**/




/**Botao Green**/

.botao3 span{
    position: relative;
    transition: 0.50s;
}

.botao3 span:after {
    content: "→";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.8s;
}

.botao3:hover span {
    padding-right: 33px;
}
    
.botao3:hover span:after {
    opacity: 1;
    right: 2;
}
/**FIM GREEN**/





/**Botao Blue**/

.botao4 span{
    position: relative;
    transition: 0.50s;
}

.botao4 span:after {
    content: "→";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.8s;
}

.botao4:hover span {
    padding-right: 33px;
}
    
.botao4:hover span:after {
    opacity: 1;
    right: 2;
}
/**FIM BLUE**/





/**Botao Black**/

.botao5 span{
    position: relative;
    transition: 0.50s;
}

.botao5 span:after {
    content: "→";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.8s;
}

.botao5:hover span {
    padding-right: 33px;
}
    
.botao5:hover span:after {
    opacity: 1;
    right: 2;
}
/**FIM BLACK**/





/**Botao Incolor**/

.botao6 span{
    position: relative;
    transition: 0.50s;
}

.botao6 span:after {
    content: "→";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.8s;
}

.botao6:hover span {
    padding-right: 33px;
}
    
.botao6:hover span:after {
    opacity: 1;
    right: 2;
}
/**FIM INCOLOR**/


footer{
    color: white;
    background-color:#000918 ;
    text-align: center;
    font-size: small ;
    margin-right: -60px;
}
